body {
    font-family: "Sofia Sans Extra Condensed", serif;
    background-color: #fcfcfa;
    margin: 0;


}

/*Header styling here*/
header {
    background-color: #d5e5f2;
    padding: 1rem 10px;
}

header span {
    color: #705d57;
    font-size: 2rem;
    font-weight: 700;

}

/* Navagation styling stuff */
nav {
    background-color: #fcfcfa;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: #541b08;
    font-weight: 500;
}

nav li.active a {
    background-color: #bf8773;
    color: #541b08;
}

nav a:hover {
    color: #010101;
}

/* main */
main {
    padding: 1rem 10px;

}

main h1 {
    color: #bf8773;
}

main h2 {
    color: #545454;
    margin-bottom: .2rem;
    
}

main p {
    margin: 0;
    color: #545454;
}

main ol {
    padding: .5rem 40px;
    background-color: #eee;
}


main ul {
    list-style-type: square;

}

main ul li {
    line-height: 100%;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    color: #545454;
}

main dl dt {
    color: #bf8773;
    font-weight: 600;
    margin-top: 1rem;
}

main dl dd {
    color: #545454;
    font-weight: 400;
    margin-left: 20px;
}

main strong {
    font-weight: 500;
    color: #010101;
}

main em {
    font-weight: 500;
}

main address {
    font-style: normal;
    color: #545454;
    background-color: #d5e5f2;
    padding: .5rem;
    border-radius: 20px;
    border: .2rem double;
    width: 200px;
}

main a {
    color: #024873;
}

main a:hover {
    color: #bf8773;
}

/* footer*/
footer {
    background-color: #d5e5f2;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #545454;
}

footer p {
    margin: 0;
    letter-spacing: 2px;
}